.comment-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .comment-header {
        height: 12%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user {
            display: flex;
            align-items: center;
            cursor: pointer;
            .userPic {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: 30px;
            }
            .userName {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 200px;
            }
        }
        .attention {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            width: 68px;
            height: 36px;
            background: red;
            font-weight: 500;
            font-size: 14px;
            color: white;
            cursor: pointer;
            margin-right: 20px;
        }
    }
    .scrollTable {
        overflow: auto;
        height: 71%;
        .comment-message {
            .message-box {
                width: 90%;
                height: 90%;
                margin-left: 5%;
                margin-top: 5%;
                .title {
                    font-size: 20px;
                    margin: 15px;
                    margin-bottom: 20px;
                    font-weight: 600;
                }
                .message {
                    margin-left: 15px;
                    line-height: 30px;
                    // background-color: palegreen;
                }
                .time {
                    line-height: 20px;
                    margin-left: 15px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 12px;
                    color: rgb(110, 109, 109);
                }
                border-bottom: 1px solid rgb(194, 192, 192);
            }
        }
        .comment-body {
            width: 100%;
            // height: 42%;
            .discuss {
                padding: 10px;
                width: 380px;
                // height: 100px;
                // background-color: rgb(138, 241, 212);
                margin-left: 20px;
                .total {
                    color: rgb(120, 119, 119);
                    margin-left: 10px;
                }
            }
            .text {
                font-size: 13px;
                margin-left: 200px;
                color: rgb(128, 127, 127);
            }
        }
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
          }
    
          /* 设置滚动内容的样式 */
          &::-webkit-scrollbar-thumb {
            background: transparent;
          }
    
          /* 设置滚轨的样式 */
          &::-webkit-scrollbar-track {
            background: transparent;
          }
    }
   
    .comment-bottom {
        position: absolute;
        bottom: 25px;
        width: 438px;
        height: 15%;
        display: inline;
        z-index: 999;
        background-color: white;
        .bottom-box {
            border-top:1px solid rgb(194, 192, 192) ;
            width: 90%;
            height: 90%;
            margin-left: 5%;
            .liked {
                font-size: 25px;
                display: flex;
                align-items: center;
                width: 100px;
                margin: 0;
                margin-top: 15px;
                margin-left: 10px;
                .likeNum {
                    margin-left: 8px;
                    font-size: 15px;
                    width: 200px;
                }
            }
            .discussIcon {
                position: absolute;
                left: 110px;
                top: 0px;
                font-size: 23px;
                display: flex;
                align-items: center;
                width: 100px;
                margin: 0;
                margin-top: 15px;
                margin-left: 10px;
                .discussNum {
                    margin-left: 8px;
                    font-size: 15px;
                }
            }
            .pinglun-box {
                .pinglun {
                    width: 280px;
                    height: 40px;
                    border-radius: 50px;
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    background-color: rgb(221, 217, 217);
                    opacity: 0.7;
                    border: 0;
                    font-size: 16px;
                    padding-left: 40px;
                    &:hover{
                        outline: none;
                    }
                }
                .pen {
                    font-size: 20px;
                    opacity: 0.5;
                    position: absolute;
                    top: 68px;
                    left: 40px;
                }
                .send {
                    height: 40px;
                    width: 60px;
                    background-color: #6ba3f1;
                    border: 0;
                    border-radius: 50px;
                    position: absolute;
                    bottom: 30px;
                    right: 15px;
                }
            }
        }
    }
}