.home-box .select {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.home-box .select li {
  margin-right: 40px;
}
.home-box .card-wai .card-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
