.card-wai {
  float: left;
  padding: 35px 60px 0 100px;
}
.card-wai .card-box {
  width: 440px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-wai .card-box .cardSrc {
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 15%;
  display: block;
}
.card-wai .card-box .cardMessage {
  width: 80%;
  font-size: 20px;
}
.card-wai .card-box .cardBotton {
  width: 80%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-wai .card-box .cardBotton .left {
  display: flex;
  align-items: center;
}
.card-wai .card-box .cardBotton .left .userPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}
.card-wai .card-box .cardBotton .left .userName {
  font-size: 20px;
  padding-left: 5px;
}
.card-wai .card-box .cardBotton .right .liked {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}
