@font-face {
  font-family: "iconfont"; /* Project id 3453526 */
  src: url('iconfont.woff2?t=1689817577580') format('woff2'),
       url('iconfont.woff?t=1689817577580') format('woff'),
       url('iconfont.ttf?t=1689817577580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e600";
}

.icon-nan1:before {
  content: "\e625";
}

